In [1]:
mystr = "Hello World"

In [2]:
mystr[0]

'H'

In [3]:
mystr[-2]

'l'

In [4]:
mystr[-1]

'd'

In [5]:
mystr = 'abcdefghijk'

In [6]:
mystr[2:]

'cdefghijk'

In [7]:
mystr[:3]

'abc'

In [8]:
mystr[3:6]

'def'

In [9]:
mystr[1:3]

'bc'

In [10]:
mystr[::2]

'acegik'

In [11]:
mystr[::-1]

'kjihgfedcba'

In [12]:
mylist = [1,2,3]

In [1]:
mydict = {'key1':'value1','key2':'value2'}

In [2]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
prices = {'apple':2.99,'oranges': 1.99,'milk':5.8}

In [4]:
prices['apple']

2.99

In [5]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [6]:
d['k2']

[0, 1, 2]

In [8]:
d['k2'][2]

2

In [9]:
d['k3']['insideKey']

100

In [10]:
d = {'key1':['a','b','c']}

In [11]:
d

{'key1': ['a', 'b', 'c']}

In [13]:
d['key1'][2].upper()

'C'

In [14]:
d.keys()

dict_keys(['key1'])

In [15]:
d.values()

dict_values([['a', 'b', 'c']])

In [16]:
d.items()

dict_items([('key1', ['a', 'b', 'c'])])

In [17]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [20]:
myset = set()

In [21]:
set(mylist)

{1, 2, 3}

In [23]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [24]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [25]:
myfile = open('myfile.txt')

In [26]:
myfile

In [27]:
pwd

'/Users/nilesh.malpeddi/Documents/Python3_Bootcamp/00-Python Object and Data Structure Basics'

In [28]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [29]:
myfile.read()

''

In [33]:
myfile.seek(0)

0

In [31]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [ ]:
myfile.seek(0)

In [34]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [35]:
myfile.close()

In [36]:
with open('myfile.txt') as mynewfile:
    content = mynewfile.read()

In [37]:
content

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [41]:
%%writefile myfile.txt
One on First
Two on Second
Three on Thrid

Overwriting myfile.txt

In [42]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

One on First
Two on Second
Three on Thrid

In [43]:
with open('myfile.txt',mode='a') as f:
    f.write('Four on Fourth')

In [44]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

One on First
Two on Second
Three on Thrid
Four on Fourth

In [45]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [46]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [47]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [48]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [51]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [50]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [2]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [3]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [4]:
'x' in [1,2,3]

False

In [5]:
'x' in ['x','y','z']

True

In [6]:
from random import shuffle

In [7]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [10]:
shuffle(mylist)
mylist

[2, 5, 7, 4, 1, 6, 8, 9, 10, 3]

In [11]:
from random import randint

In [12]:
randint(0,100)

75

In [13]:
mystring = 'hello'

In [14]:
mylist = []
for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [16]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [17]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [21]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [23]:
celcius = [0,10,20,34.5]
far = [((9/5)*temp+32) for temp in celcius]
far

[32.0, 50.0, 68.0, 94.1]

In [24]:
results = [x if x%2==0 else 'Odd' for x in range(0,11)]
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [25]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [26]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
mylist = [1,2,3,4]

In [2]:
mylist.pop(1)

2

In [3]:
mylist

[1, 3, 4]

In [1]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [3]:
dog_check('Dog')

True

In [4]:
def pig_latin(word):
    firstletter = word[0]
    # check if vowel
    if firstletter in 'aeiou':
        pig_word = word+'ay'
    else:
        pig_word = word[1:]+firstletter+'ay'
    
    return pig_word

In [6]:
pig_latin('word')

'ordway'

In [7]:
def myfunc(*args):
    return sum(args)*0.05

In [9]:
myfunc(40,60,100,1,34)

11.75

In [10]:
def myfunc(*args):
    print(args)

In [22]:
myt = (1,2,3,4,5)

In [28]:
for t in myt:
    print(t)

1
2
3
4
5

In [31]:
def myfunc(*args):
    mylist=[]
    for i in args:
        if i%2==0:
            mylist.append(i)
    return mylist

In [32]:
myfunc(5,6,7,8)

[6, 8]

In [38]:
strRet=''

In [39]:
strRet=strRet+'a'

In [44]:
strRet

'a'

In [42]:
strRet[0].upper()

'A'

In [11]:
myfunc(40,60,100,1,34)

(40, 60, 100, 1, 34)

In [14]:
def myfunc(*test):
    print(test)

In [15]:
myfunc(40,60,100,1,34,100,200)

(40, 60, 100, 1, 34, 100, 200)

In [20]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [21]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [4]:
 def square(num):
        return num**2

In [5]:
my_nums = [1,2,3,4,5]

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

In [10]:
mystr = ['Andy','Eve','Sally','Devansh','Tejal','Sonali','Nilesh']

In [11]:
list(map(splicer,mystr))

['Even', 'E', 'S', 'D', 'T', 'Even', 'Even']

In [13]:
def check_num(num):
    return num%2==0

In [18]:
mynums = [1,2,3,4,5,6]
mynums

[1, 2, 3, 4, 5, 6]

In [19]:
for n in filter(check_num,mynums):
    print(n)

2
4
6

In [20]:
list(filter(check_num,mynums))

[2, 4, 6]

In [21]:
def square(num): return num**2

In [22]:
square(3)

9

In [24]:
square = lambda num:num**2

In [25]:
square(9)

81

In [26]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [27]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6]

In [28]:
mystr

['Andy', 'Eve', 'Sally', 'Devansh', 'Tejal', 'Sonali', 'Nilesh']

In [29]:
list(map(lambda x:x[0],mystr))

['A', 'E', 'S', 'D', 'T', 'S', 'N']

In [30]:
list(map(lambda x:x[::-1],mystr))

['ydnA', 'evE', 'yllaS', 'hsnaveD', 'lajeT', 'ilanoS', 'hseliN']

In [38]:
# Global
name = 'This is a global string'

def greet():
    # Enclosing
    # name='Sammy'
    
    def hello():
        # Local
        #name='I am local'
        print('Hello ' +name)
        
    hello()

In [39]:
greet()

Hello This is a global string

In [2]:
from collections import Counter

In [4]:
l = [1,2,3,1,1,1,1,2,2,3,4,2,3,4,4,5]

In [5]:
Counter(l)

Counter({1: 5, 2: 4, 3: 3, 4: 3, 5: 1})

In [6]:
s = 'aasssdddffffaaadddeeefffsssbbbbaaa'

In [7]:
Counter(s)

Counter({'a': 8, 's': 6, 'd': 6, 'f': 7, 'e': 3, 'b': 4})

In [8]:
ss = 'How many time does each word word showed showed up up sentnce hello world word world'

In [9]:
Counter(ss.split())

Counter({'How': 1,
         'many': 1,
         'time': 1,
         'does': 1,
         'each': 1,
         'word': 3,
         'showed': 2,
         'up': 2,
         'sentnce': 1,
         'hello': 1,
         'world': 2})

In [18]:
c = Counter(ss.split())

In [19]:
c.most_common(3)

[('word', 3), ('showed', 2), ('up', 2)]

In [20]:
from collections import defaultdict

In [11]:
def arryproduct(numarray):
    mynumlist = []
    mycurInd = 0
    mysubInd = 0
    for num in numarray:
        arrprodnum = 1
        for subnum in numarray:
            if mycurInd!=mysubInd:
                arrprodnum = arrprodnum*subnum
                
            mysubInd+=1
        mynumlist.append(arrprodnum)
        mysubInd=0
        mycurInd+=1
    
    return mynumlist

In [12]:
arryproduct([2,2,2])

[4, 4, 4]

In [13]:
arryproduct([2,4,8])

[32, 16, 8]

In [1]:
import re

In [2]:
patterns = ['term1','term2']

In [3]:
text = 'This is string with term1, but not the other term'

In [4]:
for pattern in patterns:
    print('Searching for {} in : \n{}'.format(pattern,text))
    
    if re.search(pattern,text):
        print('\nMatch found\n')
    else:
        print('\nMatch not found\n')

Searching for term1 in :
This is string with term1, but not the other term

Match found

Searching for term2 in :
This is string with term1, but not the other term

Match not found

In [5]:
match = re.search(patterns[0],text)

In [6]:
type(match)

_sre.SRE_Match

In [7]:
match.start()

20

In [8]:
match.end()

25

In [9]:
split_term = '@'
phrase = 'what is your email, is it hello@gmail.com?'

In [10]:
re.split(split_term,phrase)

['what is your email, is it hello', 'gmail.com?']

In [11]:
phrase.split('@')

['what is your email, is it hello', 'gmail.com?']

In [13]:
re.findall('is',phrase)

['is', 'is']

In [15]:
def multi_re_find(patterns,phrase):
    '''
    Takes in a list of regex patterns
    Prints a list of all matches
    '''
    for pattern in patterns:
        print('Searching the phrase using the re check: {}'.format(pattern))
        print(re.findall(pattern,phrase))
        print('\n')

In [16]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'
test_patterns = ['sd*', # s followed by zero or more d's
                'sd+', # s followed by one or more d's
                'sd?', # s follwed by zero or one d's
                'sd{3}', # s followed by three d's
                'sd{2,3}' # s followed by two or three d's
                ]
multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: sd*
['sd', 'sd', 's', 's', 'sddd', 'sddd', 'sddd', 'sd', 's', 's', 's', 's', 's', 's', 'sdddd']


Searching the phrase using the re check: sd+
['sd', 'sd', 'sddd', 'sddd', 'sddd', 'sd', 'sdddd']


Searching the phrase using the re check: sd?
['sd', 'sd', 's', 's', 'sd', 'sd', 'sd', 'sd', 's', 's', 's', 's', 's', 's', 'sd']


Searching the phrase using the re check: sd{3}
['sddd', 'sddd', 'sddd', 'sddd']


Searching the phrase using the re check: sd{2,3}
['sddd', 'sddd', 'sddd', 'sddd']

In [ ]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'
test_patterns = ['sd*', # s followed by zero or more d's
                'sd+', # s followed by one or more d's
                'sd?', # s follwed by zero or one d's
                'sd{3}', # s followed by three d's
                'sd{2,3}' # s followed by two or three d's
                ]
multi_re_find(test_patterns,test_phrase)

In [23]:
test_phrase = 'This is a string! But it has punctutation. How can we remove it?'

In [25]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctutation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [22]:
re.findall('[a-zA-Z]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctutation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [29]:
test_phrase = 'This is an example sentence. Lets see if we can find some letters.'
test_patterns=['[a-z]+', # sequences of lower case letters
               '[A-Z]+', # sequences of upper case letters
               '[a-zA-Z]+', # sequences of lower or upper case letters
               '[A-Z][a-z]+' # one upper case letter followed by lower case letters
               ]

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: [a-z]+
['his', 'is', 'an', 'example', 'sentence', 'ets', 'see', 'if', 'we', 'can', 'find', 'some', 'letters']


Searching the phrase using the re check: [A-Z]+
['T', 'L']


Searching the phrase using the re check: [a-zA-Z]+
['This', 'is', 'an', 'example', 'sentence', 'Lets', 'see', 'if', 'we', 'can', 'find', 'some', 'letters']


Searching the phrase using the re check: [A-Z][a-z]+
['This', 'Lets']

In [30]:
test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'
test_patterns = [r'\d+', # sequence of digits
                 r'\D+', # sequence of non-digits
                 r'\s+', # sequence of whitespace
                 r'\S+', # sequence of non-whitespace
                 r'\w+', # alphanumeric characters
                 r'\W+', # non alphanumeric
                ]

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: \d+
['1233']


Searching the phrase using the re check: \D+
['This is a string with some numbers ', ' and a symbol #hashtag']


Searching the phrase using the re check: \s+
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']


Searching the phrase using the re check: \S+
['This', 'is', 'a', 'string', 'with', 'some', 'numbers', '1233', 'and', 'a', 'symbol', '#hashtag']


Searching the phrase using the re check: \w+
['This', 'is', 'a', 'string', 'with', 'some', 'numbers', '1233', 'and', 'a', 'symbol', 'hashtag']


Searching the phrase using the re check: \W+
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' #']

In [31]:
s = 'hiihhihihihhhi'

In [32]:
s.partition('i')

('h', 'i', 'ihhihihihhhi')

In [33]:
s = set()

In [34]:
s.add(1)

In [35]:
s.add(2)

In [36]:
s

{1, 2}

In [37]:
s = {1,2,3,3,4}

In [38]:
s

{1, 2, 3, 4}

In [39]:
sc=s.copy()

In [40]:
s

{1, 2, 3, 4}

In [41]:
sc

{1, 2, 3, 4}

In [42]:
s.add(5)

In [43]:
s

{1, 2, 3, 4, 5}

In [44]:
sc

{1, 2, 3, 4}

In [45]:
s.difference(sc)

{5}

In [46]:
sc.difference(s)

set()

In [47]:
s1 = {1,2,3}
s2 = {1,4,5}

In [48]:
s1.difference_update(s2)

In [49]:
s1

{2, 3}

In [50]:
s2

{1, 4, 5}

In [51]:
s1={1,2,3}
s2={1,2,4}

In [52]:
s1.intersection(s2)

{1, 2}

In [54]:
s1

{1, 2, 3}

In [55]:
s1.intersection_update(s2)

In [56]:
s1

{1, 2}

In [1]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [2]:
s1.isdisjoint(s2)

False

In [3]:
s1.isdisjoint(s3)

True

In [5]:
s1.issubset(s2)

True

In [6]:
s2.issuperset(s1)

True

In [7]:
s1

{1, 2}

In [8]:
s2

{1, 2, 4}

In [9]:
s1.symmetric_difference(s2)

{4}

In [10]:
s2.symmetric_difference(s1)

{4}

In [11]:
s1.union(s2)

{1, 2, 4}

In [12]:
s1.update(s2)

In [13]:
s1

{1, 2, 4}

In [14]:
s2

{1, 2, 4}

In [19]:
d={'k1':1,'k2':2}

In [66]:
{x:x**3 for x in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [17]:
{k:v**2 for k,v in zip(['a','b'],range(2))}

{'a': 0, 'b': 1}

In [21]:
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)

In [22]:
l = [1,2,3]

In [23]:
l.append(4)

In [24]:
l

[1, 2, 3, 4]

In [25]:
l.count(10)

0

In [26]:
l.count(2)

1

In [27]:
x = [1,2,3]

In [28]:
x.append([4,5])

In [29]:
x

[1, 2, 3, [4, 5]]

In [30]:
x = [1,2,3]

In [31]:
x.extend([4,5])

In [32]:
x

[1, 2, 3, 4, 5]

In [37]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 
          'banana']

In [38]:
type(fruits)

list

In [39]:
fruits.count('apple')

2

In [40]:
fruits.count('tangerine')

0

In [41]:
fruits.index('banana')

3

In [42]:
fruits.index('banana',4)

6

In [43]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [44]:
fruits.append('grape')

In [45]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [46]:
fruits.pop()

'pear'

In [47]:
stack = [3,4,5]

In [48]:
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [49]:
stack.pop()

7

In [50]:
stack

[3, 4, 5, 6]

In [51]:
from collections import deque

In [52]:
queue = deque(["Erick","John","Michael"])

In [53]:
queue.append('Terry')

In [54]:
queue.append('Graham')

In [55]:
queue

deque(['Erick', 'John', 'Michael', 'Terry', 'Graham'])

In [56]:
queue.popleft()

'Erick'

In [57]:
queue.popleft()

'John'

In [58]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [60]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
squares = list(map(lambda x:x**2,range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [2]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            combs.append((x,y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [3]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [4]:
vec = [-4,-2,0,2,4]

In [5]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [6]:
[x for x in vec if x>0]

[2, 4]

In [7]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [8]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [9]:
[f.strip() for f in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [10]:
[(x,x**2) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [11]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [12]:
[num for elment in vec for num in elment]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
mylist = []
for nums in vec:
    for el in nums:
        mylist.append(el)
        
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
[num for nums in vec for num in nums]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
[el for nums in vec for el in nums]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [21]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [24]:
#transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [28]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [30]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [31]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [32]:
x = [1, 2, 3]
y = [4, 5, 6]

In [37]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [50]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [51]:
del a[0]

In [52]:
a

[1, 66.25, 333, 333, 1234.5]

In [53]:
del a[2:4]

In [54]:
a

[1, 66.25, 1234.5]