# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        numRet=min(a,b)
    else:
        numRet=max(a,b)
    return numRet

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
myl = 'Levelheaded Llama'.split()

In [8]:
myl[0][0]

'L'

In [9]:
def animal_crackers(text):
    mylist = text.split()
    if mylist[0][0].lower()==mylist[1][0].lower():
        return True
    else:
        return False

In [51]:
def animal_crackers(text):
    mylist = text.split()
    return mylist[0][0].lower()==mylist[1][0].lower()

In [52]:
# Check
animal_crackers('Levelheaded Llama')

True

In [53]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [14]:
sum((20,10))

30

In [55]:
def makes_twenty(n1,n2):
    if (sum((n1,n2))==20) or (n1==20 or n2==20):
        return True
    else:
        return False

In [57]:
def makes_twenty(n1,n2):
    return ((sum((n1,n2))==20) or (n1==20 or n2==20))

In [58]:
# Check
makes_twenty(20,10)

True

In [59]:
makes_twenty(12,8)

True

In [60]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [61]:
def old_macdonald(name):
    strRet = ''
    for i,letter in enumerate(name):
        if i==0 or i==3:
            strRet=strRet+letter.upper()
        else:
            strRet=strRet+letter
    return strRet

In [62]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    return first_letter.upper()+inbetween+fourth_letter.upper()+rest

In [64]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [65]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [42]:
str1='I am home'.split()
str1

['I', 'am', 'home']

In [45]:
str1[::-1]

['home', 'am', 'I']

In [46]:
str1[-1::-1]

['home', 'am', 'I']

In [44]:
" ".join(str1[::-1])

'home am I'

In [40]:
mytest = str1[-1::-1]
output = ' '.join(mytest)
output

'home am I'

In [49]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [50]:
# Check
master_yoda('I am home')

'home am I'

In [51]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [66]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False

In [67]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [68]:
# Check
almost_there(104)

True

In [69]:
# Check
almost_there(150)

False

In [70]:
# Check
almost_there(209)

True

In [71]:
# Check
almost_there(90)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [64]:
str(2)

'2'

In [72]:
def has_33(nums):
    index=0
    iPrev=0
    for i in nums:
        if iPrev==i:
            index+=1
        iPrev=i
    
    if index>0:
        return True
    else:
        return False

In [79]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    
    return False

In [81]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    
    return False

In [82]:
# Check
has_33([1, 3, 3])

True

In [83]:
# Check
has_33([1, 3, 1, 3])

False

In [84]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [79]:
'H'*3

'HHH'

In [80]:
def paper_doll(text):
    str1=''
    for letter in text:
        str1=str1+letter*3
    return str1

In [81]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [82]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [85]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and (a==11 or b==11 or c==11):
        return (sum((a,b,c))-10)
    else:
        return 'BUST'

In [86]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and 11 in [a,b,c]:
        return (sum((a,b,c))-10)
    else:
        return 'BUST'

In [87]:
# Check
blackjack(5,6,7)

18

In [88]:
# Check
blackjack(9,9,9)

'BUST'

In [89]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [90]:
def summer_69(arr):
    i6Start=0
    isum=0
    for num in arr:
        if num==6:
            i6Start=1
        
        if i6Start!=1:
            isum=isum+num
        elif num==9:
            i6Start=0
    return isum

In [91]:
# Check
summer_69([1, 3, 5])

9

In [96]:
summer_69([1, 3, 5,6,5,3,1,9,10,20,6,1,2,3,9,1])

40

In [89]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [90]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [91]:
def spy_game(nums):
    str1=''
    iPrev=None
    for num in nums:
        if num==0 and str1=='':
            str1=str1+str(num)
        elif num==0 and str1=='0' and iPrev==0:
            str1=str1+str(num)
        elif num==7 and str1=='00' and iPrev==0:
            str1=str1+str(num)
        iPrev=num
    
    return str1=='007'

In [99]:
def spy_game(nums):
    str1=''
    for num in nums:
        if num==0 and str1=='':
            str1=str1+str(num)
        elif num==0 and str1=='0':
            str1=str1+str(num)
        elif num==7 and str1=='00':
            str1=str1+str(num)
    
    return str1=='007'

In [100]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num==code[0]:
            code.pop(0)
    
    return len(code)==1

In [101]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [102]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [103]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [26]:
5/4

1.25

In [50]:
2%1

0

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [48]:
def count_primes(num):
    iPrimCnt=1
    temp=False
    PrimNumList=[2]
    for num in range(2,101):
        temp=False
        for iDiv in range(2,num):
            if num%iDiv<1:
                temp=False
                break
            else:
                temp=True
        
        if temp:
            iPrimCnt+=1
            PrimNumList.append(num)
    print(PrimNumList)
    print("\nPrime number count from 1 to 100 = {}".format(len(PrimNumList)))
    return iPrimCnt

In [49]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Prime number count from 1 to 100 = 25

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

In [ ]:
  *  
 * * 
*****
*   *
*   *

## Great Job!